<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>

<div th:insert="fragments/head :: navbar"></div>


<h1 style="color: #710c0f;">Adding An Article</h1>

<form method="post"  th:action="@{/addLp}" th:object="${newLp}" style="margin-top: 20px">
    <div>
        <div class="row">
            <div class="col-md-4 form-row offset-md-2" >
                <label for="firstName" class="form-label">First Name</label>
                <input id="firstName" class="form-control" placeholder="First name" name="firstName" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-row offset-md-2">
                <label for="lastName" class="form-label">Last Name</label>
                <input id="lastName" class="form-control" placeholder="Last Name" name="lastName" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-row offset-md-2">
                <label for="age" class="form-label">Age</label>
                <input id="age" class="form-control" placeholder="Age" name="age" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-row offset-md-2">
                <label for="email" class="form-label">Email</label>
                <input id="email" class="form-control" placeholder="Email" name="email">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-row offset-md-2">
                <label for="hiredate" class="form-label">Hire Date</label>
                <input type="date" id="hiredate" class="form-control" placeholder="Hire Date" name="hireDate" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-row offset-md-2">
                <label for="functionLevel" class="form-label">Function Level</label>
                <select class="form-control" name="functionLevel" id="functionLevel" required>
                    <option th:each="function :${functionLevels}" th:text="${function.getDisplayName()}" th:value="${function}"></option>
                </select>
            </div>
        </div>

    </div>

    <div class="row"  style="margin-top: 15px>
        <div class="col-md-4 offset-md-2">
            <button id="submitbnt" type="submit" class="form-control btn btn-primary" style="background-color:  #710c0f" >Submit</button>
        </div>
    </div>
</form>



</body>
</html>