<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>

<div th:insert="fragments/head :: navbar"></div>


<h1 style="color: #710c0f;">Adding A Fictive Book</h1>

<form method="post"  th:action="@{/addedBook}" th:object="${newBook}" style="margin-top: 20px">
    <div>
        <div class="row">
            <div class="col-md-4 form-row offset-md-2">
                <label for="title" class="form-label">Title</label>
                <input  id="title" class="form-control" placeholder="Title" name="title" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-row offset-md-2">
                <label for="price" class="form-label">Price</label>
                <input id="price" class="form-control" placeholder="Price" name="price" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-row offset-md-2">
                <label for="publisher" class="form-label">Publisher</label>
                <input id="publisher" class="form-control" placeholder="Publisher" name="publisher" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-row offset-md-2">
                <label for="author" class="form-label">Author</label>
                <input  id="author" class="form-control" placeholder="Author" name="author" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-row offset-md-2">
                <label for="isbn" class="form-label">Isbn</label>
                <input  id="isbn" class="form-control" placeholder="Isbn" name="isbn" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-row offset-md-2">
                <label for="description" class="form-label">Description</label>
                <input  id="description" class="form-control" placeholder="Description" name="description" required>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-4 form-row offset-md-2">
            <label for="bookGenre" class="form-label" >Current Car</label>
            <select class="form-control" name="bookGenre" id="bookGenre" th:field="*{bookGenre}">
                <option th:each="genre :${genreList}" th:text="${genre}" th:value="${newBook.bookGenre}"></option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 form-row offset-md-2">
            <label for="supplierId" class="form-label">Id Of The Supplier</label>
            <input id="supplierId" class="form-control" placeholder="Supplier Id" name="supplierId">
        </div>
    </div>


    <div class="row" style="margin-top: 15px">
        <div class="col-md-4 offset-md-2">
            <button id="submitbnt" type="submit" class="form-control btn btn-primary" style="background-color:  #710c0f" >Submit</button>
        </div>
    </div>

</form>



</body>
</html>