<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>

<div th:insert="fragments/head :: navbar"></div>


<h1 style="color: #710c0f;">Editing A Game</h1>

<form method="post"  th:action="@{/editingGame/{id}/{type}(id =${games.getId()} , type =${games.getType()})}" th:object="${newGame}" style="margin-top: 20px">
    <div>
        <div class="row">
            <div class="col-md-4 form-row offset-md-2">
                <label for="title" class="form-label">Title</label>
                <input th:value="${newGame.getTitle()}" id="title" class="form-control" placeholder="Title" name="title" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-row offset-md-2">
                <label for="price" class="form-label">Price</label>
                <input th:value="${newGame.getPrice()}" id="price" class="form-control" placeholder="Price" name="price" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-row offset-md-2">
                <label for="publisher" class="form-label">Publisher</label>
                <input  th:value="${newGame.getPublisher()}" id="publisher" class="form-control" placeholder="Publisher" name="publisher" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-row offset-md-2">
                <label for="minimumAge" class="form-label">Minimum Age</label>
                <input  th:value="${newGame.getMinimumAge()}"  id="minimumAge" class="form-control" placeholder="Minimum Age" name="minimumAge" required>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 form-row offset-md-2">
            <label for="gameGenre" class="form-label" >Current Car</label>
            <select class="form-control" name="gameGenre" id="gameGenre">
                <option th:each="genre :${gameGenres}" th:text="${genre}" th:value="${genre}"></option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 form-row offset-md-2">
            <label for="supplierId" class="form-label">Id Of The Supplier</label>
            <input  th:value="${newGame.getSupplierId()}" id="supplierId" class="form-control" placeholder="Supplier Id" name="supplierId">
        </div>
    </div>


    <div class="row" style="margin-top: 15px">
        <div class="col-md-4 offset-md-2">
            <button id="submitbnt" type="submit" class="form-control btn btn-dark" >Submit</button>
        </div>
    </div>

</form>

<div style="margin-top: 100px" th:insert="fragments/head :: footer"></div>

</body>
</html>