<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>

<div th:insert="fragments/head :: navbar"></div>


<h1 style="color: #710c0f;">Editing A Non Fictive Book</h1>

<form method="post"  th:action="@{/editBookFiction/{id}/{type}(id = ${books.getId()} , type = ${books.getType()})}" th:object="${newBook}" style="margin-top: 20px">
    <div>
        <div class="row">
            <div class="col-md-4 form-row offset-md-2">
                <label for="title" class="form-label">Title</label>
                <input  id="title" class="form-control" placeholder="Title" name="title" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-row offset-md-2">
                <label for="price" class="form-label">Price</label>
                <input id="price" class="form-control" placeholder="Price" name="price" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-row offset-md-2">
                <label for="publisher" class="form-label">Publisher</label>
                <input id="publisher" class="form-control" placeholder="Publisher" name="publisher" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-row offset-md-2">
                <label for="author" class="form-label">Author</label>
                <input  id="author" class="form-control" placeholder="Author" name="author" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-row offset-md-2">
                <label for="isbn" class="form-label">Isbn (format example = "978-90-1234-567-8")</label>
                <input  id="isbn" class="form-control" placeholder="format : 978-90-1234-567" name="isbn" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-row offset-md-2">
                <label for="description" class="form-label">Description</label>
                <input  id="description" class="form-control" placeholder="Description" name="description" required>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-4 form-row offset-md-2">
            <label for="subject" class="form-label" >Subject</label>
            <select class="form-control" name="subject" id="subject">
                <option th:each="genre :${genreList}" th:text="${genre}" th:value="${genre}"></option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 form-row offset-md-2">
            <label for="supplierId" class="form-label">Id Of The Supplier</label>
            <input id="supplierId" class="form-control" placeholder="Supplier Id" name="supplierId">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 form-row offset-md-2">
            <label for="pages" class="form-label">Price</label>
            <input id="pages" class="form-control" placeholder="Pages" name="pages" required>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 form-row offset-md-2">
            <label for="stock" class="form-label">Price</label>
            <input id="stock" class="form-control" placeholder="Stock" name="stock" required>
        </div>
    </div>

    <div class="row"  style="margin-top: 15px">
        <div class="col-md-4 offset-md-2">
            <button id="submitbnt" type="submit" class="form-control btn btn-dark" >Submit</button>
        </div>
    </div>

</form>


<div style="margin-top: 100px" th:insert="fragments/head :: footer"></div>


</body>
</html>