<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>

<div th:insert="fragments/head :: navbarInlogScreen"></div>


<h1  style="color: #710c0f;"> This Order Has Already Been Completed </h1>

<h2 class="offset-md-2"> click here to go back to the list of articles <a style="color: white" th:href="@{/allArticlesClient/{userId}(userId = ${userId})}" class="btn btn-dark py-3 px-4">here</a></h2>



<div style="margin-top: 100px" th:insert="fragments/head :: footer"></div>
</body>
</html>