<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<div th:insert="fragments/head :: navbarClient(${userId})"></div>

<h1 style="color: #710c0f;">Add Or Complete?</h1>
<form method="post" th:action="@{/paymentPage/{orderId}/{userId}(orderId = ${orderId} , userId= ${userId})}"style="margin-top: 20px">

  <div class="row" style="margin-top: 15px">
    <div class="col-md-4 offset-md-2">
      <button id="submitbnt" type="submit" class="form-control btn btn-dark" >Continue to payment</button>
    </div>
  </div>
  <div class="row" style="margin-top: 15px">
    <div class="col-md-4 offset-md-2 active">
      <a th:href="@{/allArticlesClientAddAnother/{orderId}/{userId}(orderId = ${orderId}, userId=${userId})}" id="addAnother" class="form-control btn btn-dark "style="color: #4d5657" >Add another item</a>
    </div>
  </div>
  <div class="row" style="margin-top: 15px">
    <div class="col-md-4 offset-md-2 active">
      <a th:href="@{/allArticlesClients/{orderId}/{userId}(orderId = ${orderId}, userId=${userId})}" id="cancel" class="form-control btn btn-dark " style="color: #4d5657">Cancel Order</a>
    </div>
  </div>
  <div class="row" style="margin-top: 15px">
    <div class="col-md-4 offset-md-2 active">
      <a th:href="@{/saveOrder/{orderId}/{userId}(orderId = ${orderId}, userId=${userId})}" id="save" class="form-control btn btn-dark " style="color: #4d5657">Save order</a>
    </div>
  </div>
</form>
<div style="margin-top: 100px" th:insert="fragments/head :: footer"></div>
</body>
</html>