<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>

<div th:insert="fragments/head :: navbarClient"></div>


<h1 style="color: #710c0f;">Welcome To Shopr</h1>

<h2 class="offset-md-2"> Please log in as user or as Employee</h2>


<form method="post" th:action="@{/chosenUser}" th:object="${newUser}" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-4 form-row offset-md-2">
            <label for="user" class="form-label">Select user type</label>
            <select class="form-control" name="id" id="user" required>
                <option th:each="user :${users}" th:text="${user.getUser()}" th:value="${user.getId()}">
            </select>
        </div>
    </div>

    </div>

    <div class="row" style="margin-top: 15px">
        <div class="col-md-4 offset-md-2">
            <button id="submitbnt" type="submit" class="form-control btn btn-primary" style="background-color: #710c0f;" >Submit</button>
        </div>
    </div>
</form>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js'></script>
<script  src="function.js"></script>
<script>
    $(document).ready(function() {
        $("#sort").DataTable({
            columnDefs : [
                { type : 'date', targets : [3] }
            ],
        });
    });
</script>
</body>
</html>