<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>

<div th:insert="fragments/head :: navbar"></div>


<h1 style="color: #710c0f;">Please Select Quantity <Article></Article></h1>

<form method="post" th:action="@{/addingAnotherOrProceedAnother/{id}/{type}/{orderId}/{userId}(id = ${article.getId()} , type = ${article.getArticleType()} , orderId = ${orders} , userId=${userId})}" th:object="${newQuantity}" style="margin-top: 20px">

    <div class="row">
        <div class="col-md-4 form-row offset-md-2">
            <label for="quantity" class="form-label">Quantity</label>
            <select class="form-control" name="quantity" id="quantity" required>
                <option th:each="quantity :${quantityList}" th:text="${quantity.getQuantity()}" th:value="${{quantity.getQuantity()}}">
            </select>
        </div>
    </div>

    <div class="row" style="margin-top: 15px">
        <div class="col-md-4 offset-md-2">
            <button id="submitbnt" type="submit" class="form-control btn btn-dark" >Continue to payment</button>
        </div>
    </div>

</form>


<div style="margin-top: 100px" th:insert="fragments/head :: footer"></div>



</body>
</html>